[Journal]
SystemMaxUse=2G                   # Max disk space for system logs
RuntimeMaxUse=2G                  # Max disk space for runtime logs
SystemKeepFree=4G                 # Minimum disk space to keep free
RuntimeKeepFree=4G                # Minimum runtime disk space to keep free
SystemMaxFileSize=128M            # Max size per journal file
RuntimeMaxFileSize=128M           # Max size per runtime journal file
